<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>
  <akka>
    <!--<hocon>
      <![CDATA[
        akka {  
	        stdout-loglevel = DEBUG
	        loglevel = DEBUG
          #loggers = ["Akka.Logger.NLog.NLogLogger,Akka.Logger.NLog"]
	        
	        actor {
              debug {
                # enable function of Actor.loggable(), which is to log any received message
                # at DEBUG level, see the “Testing Actor Systems” section of the Akka
                # Documentation at http://akka.io/docs
                receive = on
 
                # enable DEBUG logging of all AutoReceiveMessages (Kill, PoisonPill et.c.)
                autoreceive = on
 
                # enable DEBUG logging of actor lifecycle changes
                lifecycle = on
 
                # enable DEBUG logging of all LoggingFSMs for events, transitions and timers
                fsm = on
 
                # enable DEBUG logging of subscription changes on the eventStream
                event-stream = on
 
                # enable DEBUG logging of unhandled messages
                unhandled = on
 
                # enable WARN logging of misconfigured routers
                router-misconfiguration = on
              }
	        }

	        persistence {
          
              publish-plugin-commands = on
          
		          journal {
                    plugin = "akka.persistence.journal.event-store"
                    event-store {
                        class = "EventStore.Persistence.EventStoreJournal, Akka.Persistence.EventStore"
                        plugin-dispatcher = "akka.actor.default-dispatcher"
                        
                  # the event store connection string
			            connection-string = "ConnectTo=tcp://admin:changeit@127.0.0.1:1113;"

			            # name of the connection
			            connection-name = "akka.net"
                    }
                }
              
              snapshot-store {
                    plugin = "akka.persistence.snapshot-store.event-store"
                    event-store {
                        class = "EventStore.Persistence.EventStoreSnapshotStore, Akka.Persistence.EventStore"
                        plugin-dispatcher = "akka.actor.default-dispatcher"
                        
                  # the event store connection string
			            connection-string = "ConnectTo=tcp://admin:changeit@127.0.0.1:1113;"

			            # name of the connection
			            connection-name = "akka.net"
                    }
                }

              dispatchers {
                  default-plugin-dispatcher {
                      type = PinnedDispatcher
                      executor = "thread-pool-executor"
                  }
                  default-replay-dispatcher {
                      type = ForkJoinDispatcher
                      dedicated-thread-pool {
                          # Fixed number of threads to have in this threadpool
                          thread-count = 8
                      }
                  }
                  default-stream-dispatcher {
                      type = ForkJoinDispatcher
                      dedicated-thread-pool {
                          # Fixed number of threads to have in this threadpool
                          thread-count = 8
                      }
                  }
              }
	        }
        }

      ]]>
    </hocon>-->
    <hocon>
      <![CDATA[
        akka {  
	        stdout-loglevel = DEBUG
	        loglevel = DEBUG
          loggers = ["Akka.Logger.NLog.NLogLogger,Akka.Logger.NLog"]
	        
	        actor {
              debug {
                # enable function of Actor.loggable(), which is to log any received message
                # at DEBUG level, see the “Testing Actor Systems” section of the Akka
                # Documentation at http://akka.io/docs
                receive = on
 
                # enable DEBUG logging of all AutoReceiveMessages (Kill, PoisonPill et.c.)
                autoreceive = on
 
                # enable DEBUG logging of actor lifecycle changes
                lifecycle = on
 
                # enable DEBUG logging of all LoggingFSMs for events, transitions and timers
                fsm = on
 
                # enable DEBUG logging of subscription changes on the eventStream
                event-stream = on
 
                # enable DEBUG logging of unhandled messages
                unhandled = on
 
                # enable WARN logging of misconfigured routers
                router-misconfiguration = on
              }
	        }
        }
      ]]>
    </hocon>
  </akka>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
