@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Akka.Net</h1>
    <p class="lead">Akka.NET is a toolkit and runtime for building highly concurrent, distributed, and fault tolerant event-driven applications on .NET & Mono.</p>
    <p><a href="http://getakka.net/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    <h1>Event Store</h1>
    <p class="lead">The open-source, functional database with Complex Event Processing in JavaScript.</p>
    <p><a href="https://www.geteventstore.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    <h1>CQRS / ES</h1>
    <p class="lead">This sample uses the two technologies above to implement this pattern using Akk.Net actors</p>
    <p><a href="https://github.com/eventstore/eventstore/wiki/Event-Sourcing-Basics" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p><a href="/home/accounts" class="btn btn-primary btn-lg">Try it &raquo;</a></p>
</div>
